<!-- Title Bar -->
<div class="title-bar">
  <h1>Gone Gourmet</h1>
</div>

<div class="content-container">
  <!-- Brand Selection -->
  <div class="p-fluid">
    <label for="brand">Select Restaurant Brand</label>
    <p-dropdown  
      [filter]="true"
      filterBy="brands.name"
      filterPlaceholder="Enter Brand Name"
      id="brand"
      [options]="brands"
      optionLabel="name"
      placeholder="Select a brand"
      [(ngModel)]="selectedBrand"
      (onChange)="onBrandChange()">
    </p-dropdown>
  </div>

  <!-- City Selection -->
  <div class="p-fluid" *ngIf="cities.length > 0">
    <label for="city">Select City</label>
    <p-dropdown 
      id="city"
      [options]="cities"
      optionLabel="name"
      placeholder="Select a city"
      [(ngModel)]="selectedCity"
      (onChange)="onCityChange()">
    </p-dropdown>
  </div>

  <!-- Location Selection -->
  <div class="p-fluid" *ngIf="locations.length > 0">
    <label for="location">Select Location</label>
    <p-dropdown 
      id="location"
      [options]="locations"
      optionLabel="name"
      placeholder="Select a location"
      [(ngModel)]="selectedLocation">
    </p-dropdown>
  </div>

  <!-- Submit Button -->
  <div class="submit-btn-container" *ngIf="selectedBrand && selectedCity && selectedLocation">
    <p-button label="Submit" (onClick)="fetchUnavailableItems()" class="submit-btn"></p-button>
  </div>

  <!-- <input type="text" pInputText [(ngModel)]="search" *ngIf="unavailableItems.length > 0"/>
  <p-button label="Search" (onClick)="searchItems()" class="submit-btn" *ngIf="unavailableItems.length > 0"></p-button> -->

  <!-- Error Message -->
  <p-message *ngIf="errorMessage" severity="error" text="{{ errorMessage }}"></p-message>

  <!-- Unavailable Items Display -->
  <!-- <div class="p-fluid unavailable-items-container" *ngIf="unavailableItems.length > 0">
    <h3>Unavailable Items</h3>
    <p-card *ngFor="let item of unavailableItems" class="unavailable-item-card">
      <ng-template pTemplate="header">
        <h4>{{ item.itemName }}</h4>
      </ng-template>
      <p><strong>Reason Unavailable:</strong> {{ item.reasonUnavailable }}</p>
    </p-card>
  </div> -->
  <div class="p-fluid unavailable-items-container" *ngIf="unavailableItems.length > 0">
    <h3>Unavailable Items</h3>
    <div class="unavailable-card" *ngFor="let item of unavailableItems">
      <p class="item-name"><strong>Item Name:</strong>{{ item.itemName }}</p>
      <p class="reason"><strong>Reason for unavailability:</strong> {{ item.reasonUnavailable }}</p>
    </div>
  </div>
</div>
